footer {
    margin: 10vh 0 0 0;
    color: #fff;
    background-attachment: fixed;
    background-color:#222;
    background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
    background-size: cover;
    background-position: bottom;
}
footer p {
    color: #ccc;				
}
footer a {
    color: #ccc;				
}
/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
font-size:14px;
}